In [2]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
earthquakes_csv = "https://raw.githubusercontent.com/fedhere/DSPS_FBianco/master/HW3/earthquakes.csv"

In [33]:
data = pd.read_csv(earthquakes_csv, sep=" ")
data.head()

,#YYY/MM/DD,HH:mm:SS.ss,ET,GT,MAG,Unnamed: 5,M,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Q,Unnamed: 25,EVID,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,NPH,NGRM
0,1984/01/01,01:30:57.52,eq,NaN,l,2.02,c,NaN,NaN,33.246,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1984/01/01,05:31:34.16,eq,NaN,l,2.12,c,NaN,NaN,32.945,...,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1984/01/01,06:59:05.14,eq,NaN,l,2.43,c,NaN,NaN,33.343,...,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1984/01/01,11:10:25.29,eq,NaN,l,2.07,c,NaN,NaN,33.668,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1984/01/01,19:38:19.79,eq,NaN,l,2.13,c,NaN,NaN,33.963,...,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We only care about the date, time, and magnitude

In [34]:
colnames = ["#YYY/MM/DD", "HH:mm:SS.ss", "Unnamed: 5"]
new_colnames = {"#YYY/MM/DD": "date",
                "HH:mm:SS.ss": "time",
                "Unnamed: 5":"mag"}
eqdata = data[colnames].rename(new_colnames, axis=1)

In [35]:
eqdata.describe()

                mag
count  70798.000000
mean       2.417826
std        0.407683
min        2.000000
25%        2.120000
50%        2.300000
75%        2.590000
max        7.100000

We want the time difference between each earthquake.

In [38]:
eqdata.iloc[0].date + " " + eqdata.iloc[0].time

'1984/01/01 01:30:57.52'

Now let's do this for all rows

In [43]:
datetime = [eqdata.iloc[i].date + " " + eqdata.iloc[i].time for i in range(eqdata.shape[0])]

In [45]:
datetime = pd.to_datetime(datetime)

ParserError: second must be in 0..59: 1984/08/09 04:48:60.00

Could be a leap second. At any rate, we need to deal with this. We could just get rid of this row and mention that in the report. That would be fine. Could also change it from :60.00 to :59.99

In [55]:
eqdata["datetime"] = datetime
eqdata.datetime = eqdata.datetime.str.replace("60.00", "59.99")
pd.to_datetime(eqdata.datetime)

<ipython-input-55-2b76fe1b5b03>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  eqdata.datetime = eqdata.datetime.str.replace("60.00", "59.99")

eqdata

In [61]:
eqdata["dt"] = pd.to_datetime(eqdata.datetime).diff()

In [64]:
eqdata.head()

,date,time,mag,datetime,dt
0,1984/01/01,01:30:57.52,2.02,1984/01/01 01:30:57.52,NaT
1,1984/01/01,05:31:34.16,2.12,1984/01/01 05:31:34.16,0 days 04:00:36.640000
2,1984/01/01,06:59:05.14,2.43,1984/01/01 06:59:05.14,0 days 01:27:30.980000
3,1984/01/01,11:10:25.29,2.07,1984/01/01 11:10:25.29,0 days 04:11:20.150000
4,1984/01/01,19:38:19.79,2.13,1984/01/01 19:38:19.79,0 days 08:27:54.500000